.HistoryTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 16px;

}

.Link {
    font-size: 12px;
    text-decoration: none;
    color: var(--text-secondary);
}

.tableContainer {
    overflow-x: auto;
}

.HistoryTable {
    width: 100%;
    border-collapse: collapse;
}

.HistoryTable th,
.HistoryTable td {
    font-size: 12px;
    text-align: left;
    padding: 8px;
    white-space: nowrap; /* Prevent text wrapping */
}

.HistoryTable th {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid var(--color-borders);
}
.HistoryTable tbody tr td{
    color: var(--text-secondary);
}
.title {
    font-size: 18px;
}