.container {
    background-color: #0e0d0d; /* Slightly lighter dark background */
    color: var(--text-primary); /* Soft white text */
    font-family: "Cascadia Code", "Fira Code", "Consolas", "monospace"; /* Monospace font */
    font-size: 0.9em;
    border: 1px solid var(--color-borders); /* Subtle dark grey border */
    border-radius: 4px;
    height: 200px; /* Fixed height */
    overflow-y: auto; /* Scroll for overflow */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%; /* Take full width of parent */
    max-width: 800px; /* Limit maximum width */
    margin: 20px auto; /* Center horizontally and add top margin */
}

/* Scrollbar styling */
.container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.container::-webkit-scrollbar-track {
    background: #2a2a2a; /* Color of the scrollbar track */
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
    background: #555; /* Color of the scrollbar thumb */
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #777; /* Color of the scrollbar thumb on hover */
}

.header {
    margin-bottom: 10px;
    text-align: center;
    color: var(--text-primary); /* Soft blue for header */
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--color-background-2);
    font-family: "Google Sans Code", monospace;
    border-bottom: 1px solid var(--color-borders);
    padding: 10px;

    

}

.list {
    flex-grow: 1;
    padding-left: 10px;
}

.noObjects {
    color: var(--text-secondary); /* Muted grey for no objects message */
    text-align: center;
    padding: 20px;
}

.objectItem {
    margin-bottom: 4px; /* Slightly reduced margin */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.timestamp {
    color: var(--text-secondary); /* Muted grey for timestamp */
    margin-right: 8px;
    font-family: "Google Sans Code", monospace;
    font-size: smaller;

}

.objectName {
    color: var(--text-primary); /* Soft white for object name */
    margin-right: 8px;
    font-family: "Google Sans Code", monospace;
    font-size: smaller;


}

.score {
    color: var(--color-success); /* Soft green for score */
    font-family: "Google Sans Code", monospace;
    font-size: smaller;


}
