.ChartsContainer {
    background-color: var(--secondary-background-color);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
    margin-top: 12px;
}

.ChartsContainer h2 {
    color: var(--text-color);
    font-size: 18px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}
