.Settings{
    min-height: calc(100vh - 140px);
    position: relative;

}
.settingsHeader{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-borders);

    position: relative;
}


.settingsBackDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: larger;
    
    position: absolute;
    left: 20px;
}
.settingsContentDiv{
    height: 100%;
}