.UniqueObjectsPage {
    width: 90vw; /* Default for smaller screens */
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--color-background);
    color: var(--text-primary);
}

@media (min-width: 768px) {
    .UniqueObjectsPage {
        width: 95vw;
        padding: 0 !important;
    }
}

@media (min-width: 1024px) {
    .UniqueObjectsPage {
        width: 70vw;
    }
}

.Title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--color-primary);
}

.ChartContainer {
    margin-bottom: 3rem;
    padding: 1.5rem 1rem; /* Adjusted padding for smaller screens */
    background-color: var(--color-card);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .ChartContainer {
        padding: 2rem; /* Restore padding for larger screens */
    }
}

.ChartTitle {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.ObjectsListContainer {
    margin-top: 2rem;
}

.ListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
    .ListHeader {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .SortButtons {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}

.ListTitle {
    font-size: 1.8rem;
}

.SortButtons button {
    background-color: transparent;
    border: 1px solid var(--color-cta); /* Changed to cta */
    color: var(--color-cta); /* Changed to cta */
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.SortButtons button:hover {
    background-color: var(--color-cta); /* Changed to cta */
    color: white;
}

.SortButtons button.active {
    background-color: var(--color-cta); /* Changed to cta */
    color: white;
}

.ObjectsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.ObjectCard {
    background-color: var(--color-card);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.ObjectCard:hover {
    transform: translateY(-5px);
}

.ObjectName {
    font-size: 1.2rem;
    font-weight: 600;
}

.ObjectCount {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-primary);
}

.Pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 0.5rem;
}

.Pagination button {
    background-color: var(--color-card);
    border: 1px solid var(--color-borders);
    color: var(--text-primary);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Pagination button:hover:not(:disabled) {
    background-color: var(--color-primary);
    color: white;
}

.Pagination button.active {
    background-color: var(--color-cta);
    color: white;
    border-color: var(--color-cta);
}

.Pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.SearchInput {
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-borders);
    border-radius: 5px;
    background-color: var(--color-card);
    color: var(--text-primary);
    font-size: 1rem;
    width: 100%; /* Make it full width on small screens */
    max-width: 300px; /* Limit width on larger screens */
    margin-bottom: 1rem; /* Add some space below */
}

@media (min-width: 768px) {
    .SearchInput {
        margin-bottom: 0; /* Remove margin on larger screens */
    }
}