@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-text-primary);
    font-family: "Atkinson Hyperlegible", sans-serif;

}
body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
}

/* 1. Remove all focus outlines */
*:focus {
    outline: none !important;
}

/* 2. Disable WebKit tap highlight (mobile) */
button,
a,
input,
label {
    -webkit-tap-highlight-color: transparent;
}
